@model HomeLoanCaseStudy.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAdress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAdress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxLoanAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxLoanAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PanNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PanNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlySalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlySalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployementType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployementType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetirementAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetirementAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrganizationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
